DB_USER=postgres
DB_PASSWORD=cambia_esta_password_larga
DB_NAME=agrostore_db
DB_SSL=false
JWT_SECRET=cambia_este_secreto_muy_largo
APP_DOMAIN=TU_DOMINIO
FRONTEND_URL=https://TU_DOMINIO
VITE_API_URL=https://TU_DOMINIO/api
