DB_USER=postgres
DB_PASSWORD=cambia_esta_password_larga
DB_NAME=agrostore_db
DB_SSL=false
JWT_SECRET=cambia_este_secreto_muy_largo
FRONTEND_URL=http://TU_IP_O_DOMINIO
VITE_API_URL=http://TU_IP_O_DOMINIO:3001/api
