# Node
node_modules/
npm-debug.log*

# Variables de entorno — NUNCA subir al repositorio
.env
.env.local
.env.production
.env.test

# Archivos compilados del frontend
frontend/dist/
frontend/.vite/

# Logs
*.log
logs/

# Sistema operativo Windows
Thumbs.db
Desktop.ini

# VS Code
.vscode/settings.json
.vscode/launch.json

# Docker volúmenes locales
.docker/