DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=CAMBIAR_POR_TU_PASSWORD
DB_NAME=CAMBIAR_POR_TU_DB
JWT_SECRET=CAMBIAR_POR_UN_SECRETO_LARGO
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:5173